$white: #fff;
$black: #000;
$blackLight: #0d1117;
$gray: #e5e4e2;
$grayDark: #878787;
$grayLight: #C9D1D9;
$gold: #fcc200;
$bgColor: #e3e3e3;
$postBorder: #d3d3d3;
$blue: #4166f5;
// $blue: #365bf0;
$darkBlue: #0000cd;
$fbBg: #4267B2;
$googleBg: #EA4335;


$col1: #0D1117;
$col2: #8957E5;
$col3: #010409;
$col4: #8B949E;
$col5: #161B22;